Control and Management Plane Attacks and Mitigations

Generally speaking, most of the "generic" security considerations for the control plane and management plane apply to SRv6 as well.
Below is a list of issues taken from SRv6-related documents that may be worth mentioning. Some of these issues are SRv6-specific, while others are generic (not SRv6-specific), and the latter are marked below with a [generic] tag.

Control plane attacks
=====================

[draft-ietf-spring-srv6-security]
- an attacker can advertise SIDs in order to manipulate the SR policies used in the network
- [generic] Known IPv6 control plane attacks (e.g., overclaiming) are applicable to SRv6 as well.

[draft-ietf-pce-segment-routing-policy-cp]
- provide an eavesdropper with additional information about the SR Policy

[RFC9259]
- The O-flag may be set by an attacking node attempting a denial-of-service attack on the OAM process at the segment endpoint node.
- An on-path attacker able to observe this OAM channel could conduct traffic analysis, or potentially eavesdropping (depending on the OAM configuration), of this telemetry for the entire SR domain from such a vantage point.
- Once an HMAC is generated for a segment list with the O-flag set, it can be used for an arbitrary amount of traffic using that segment list with the O-flag set.

[RFC8476]
- Advertisement of an incorrect MSD value may have negative consequences.  If the value is smaller than supported, path computation may fail to compute a viable path.  If the value is larger than supported, an attempt to instantiate a path that can't be supported by the head-end (the node performing the SID imposition) may occur.


Control plane mitigation methods
================================

[draft-ietf-idr-bgp-ls-sr-policy]
- the SR Policy information advertised via BGP sessions is limited to nodes and/or controllers/applications in a secure manner within this trusted SR domain.
- [generic] isolation of BGP-LS sessions from BGP sessions for other address-families

[draft-ietf-pce-segment-routing-policy-cp]
- [generic] As per [RFC8231], it is RECOMMENDED that these PCEP extensions can only be activated on authenticated and encrypted sessions across PCEs and PCCs belonging to the same administrative authority, using Transport Layer Security (TLS) [RFC8253] as per the recommendations and best current practices in [RFC9325].

[RFC9513]
- [generic] [RFC7166] describes an alternative and improved authentication mechanism to IPsec for OSPFv3.  The use of authentication is RECOMMENDED for OSPFv3 deployment.

[RFC9259]
- An implementation correctly implementing the rate limiting described in Section 2.1.1 is not susceptible to that denial-of-service attack.


Management plane mitigation attacks
===================================
[draft-ietf-lsr-isis-srv6-yang]
[draft-ietf-lsr-ospf-srv6-yang]
- [generic] There are a number of data nodes defined in this YANG module that are writable/creatable/deletable (i.e., config true, which is the default).  These data nodes may be considered sensitive or vulnerable in some network environments.  Write operations (e.g., edit-config) to these data nodes without proper protection can have a negative effect on network operations.

Management plane mitigation methods
===================================

[draft-ietf-lsr-isis-srv6-yang]
[draft-ietf-lsr-ospf-srv6-yang]
- [generic] The lowest NETCONF layer is the secure transport layer, and the mandatory-to-implement secure transport is Secure Shell (SSH) [RFC6242].  The lowest RESTCONF layer is HTTPS, and the mandatory-to-implement secure transport is TLS [RFC8446].
- [generic] The Network Configuration Access Control Model (NACM) [RFC8341] provides the means to restrict access for particular NETCONF or RESTCONF users to a pre-configured subset of all available NETCONF or RESTCONF protocol operations and content.

